@use 'styles/index.scss' as *;

.hamContainer {
  position: fixed;
  top: 10px;
  left: -1px;
}

.button {
  background: transparent;
  border: none;
}

.menu {
  background-color: red;
  display: flex;
  flex-direction: column;
}