@use 'styles/index.scss' as *;

.hamContainer {
  position: fixed;
  top: 10px;
  left: -1px;
  z-index: 50;
}

.button {
  background: transparent;
  border: none;
}

.menu {
  // position: absolute;
  background-color: $interactivePink;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0rem 1rem;
  
  // height: 25vh;
  // transition: all 4s ease-in-out;
}

.menuItem {
  font-size: larger;
  margin-bottom: 1rem;
  border: 1px solid white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  &:hover {
    cursor: pointer;
    // color: $midnightBlue;
    scale: 1.1;
  }
}

.enterTrans {
  // transition duration-100 ease-out;
  transition-timing-function: ease-out;
  transition-duration: 4000;
}

.enterFromTrans {
  transform: scale(0.55);
}

.enterToTrans {
  transform: scale(1);
}