@use 'styles/index.scss' as *;

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem 2rem 5rem;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modalOpen {
  display: block;
}

.modalClosed {
  display: none;
}

.content {
  background-color: $midnightBlue;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.contentTitle {
  margin-bottom: 1em;
  user-select: text;
  // display: inline;
}

.contentText {
  height: 79%;
  max-height: 100%;
  // margin-bottom: 1rem;
  // overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: text;
  // list-style-position: inside;
  // gap: 10em;
  p {
    margin-block: 1em;
    &:first-of-type {
      margin-top: 0rem;
      // background-color: red;
    }
  }
  ul {
    margin-left: 0;
    padding-left: 3em;
    list-style-position: outside;
    li {
      p {
        display: inline;
      }
    }
  }
}

.buttonBar {
  margin-block: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
