@use 'styles/index.scss' as *;

.container {
  @include main-section;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: $midnightBlue;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  height: 70vh;
  background-color: black;
  overflow: visible;
}

.bottom {
  background-color: $midnightBlue;
  height: 7vh;
}

.title {
  @include sectionTitle;
}