@use 'styles/index.scss' as *;

.container {
  @include main-section;
  padding: 0;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.top {
  background-color: $midnightBlue;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  height: 70vh;
  // padding-top: 3rem;
  // padding-left: 2rem;
  background-color: black;
  overflow: visible;
}

.bottom {
  background-color: $midnightBlue;
  height: 7vh;
}

.title {
  text-transform: uppercase;
  // transform: rotate(270deg);
  font-size: 3rem;
  letter-spacing: 0.3em;
  color: $bonemarrow;
}