@use 'styles/index.scss' as *;

.contentText {
  // height: 79%;
  max-height: 50vh;
  padding-right: 0.5rem;
  // margin-bottom: 1rem;
  // overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: text;
  // list-style-position: inside;
  // gap: 10em;
  a {
    color: $interactivePink;
    text-decoration: none;
  }
  p {
    margin-block: 1em;
    &:first-of-type {
      margin-top: 0rem;
    }
  }
  ul {
    margin-left: 0;
    padding-left: 3em;
    list-style-position: outside;
    li {
      p {
        display: inline;
      }
    }
  }
}