@use 'styles/index.scss' as *;

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@mixin randomisedAnimDelay {
  @for $i from 1 through 100 {
    &:nth-of-type(#{$i}) {
      // animation: 3s intro infinite;
      // transition-delay: #{$i}s;
      // transition: all .2s #{$i * .1}s ease-in;
      // animation-delay:  random(300) + ms;
      animation-duration: random(2000) + ms; /* the duration of the animation */
    }
  }
}

.cardContainer {
  @include randomisedAnimDelay;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: calc(100% * (1/2) - 10px);
  width: calc(100% * (1/3) - 10px);

    // animation: 1s ease-out 0s 1 fadeIn;

    animation-name: fadeIn; /* the name of the animation we defined above */
    animation-timing-function: ease-out; /* how the animation will behave */
    // animation-delay: random(300) + ms; /* how long to delay the animation from starting */
    animation-iteration-count: 1; /* how many times the animation will play */
    border-style: 10px red solid;
    // &:nth-of-type(even) {
    //   animation-delay: 1s;
    // }
    
  }

// $percent: 1%;

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  opacity: 0;
  position: relative;
  height: 33vh; 
  width: 90%;
  padding: 1rem;
  margin: auto;
  background-color: $interactivePink;
  &:hover {
    // color:yellow;
    transition: opacity 0.3s;  
    opacity: 0.95;
    // display: block;
    // background-color: red;
    cursor: pointer;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}