@use 'styles/index.scss' as *;

.galleryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .arrowKey {
    // height: 2rem;
    width: 3rem;
    margin: 1rem;
    scale: 1.8;
    cursor: pointer;
    &:hover {
      scale: 2.3;
      color: $interactivePink;
    }
      // media query for tablet
      @media (min-width: calc($breakpointTablet + 1px)) and (max-width: $breakpointDesktop){
        
      }
      // media query for phone
      @media (max-width: $breakpointTablet){
        width: 3vw;
        // scale: 1.4;
        margin: 0;
      }
  }
  
  .inactiveArrow {
    opacity: 0;
    cursor: initial;
    pointer-events: none;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
