@use 'styles/index.scss' as *;

.container {
  @include main-section;
  padding: 0;

  .left {
    width: 15vw;
    // height: 15vh;
    background-color: $midnightBlue;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .title {
      @include sectionTitle;
      transform: rotate(270deg);
    }
  }
  
  .right {
    // height: 85vh;
    width: 85vw;
    padding: 2rem 1.5rem 2rem 1.5rem;
    column-count: 4;
    column-gap: 0;
    // div:first-child {
    //   // background-color: red;
    //   margin-top: 3rem;
    // }
  }
}




