@use 'styles/index.scss' as *;

.container {
  @include main-section;
    // media query for tablet
    @media (min-width: calc($breakpointTablet + 1px)) and (max-width: $breakpointDesktop){
      padding: 0rem;
    }
    // media query for phone
    @media (max-width: $breakpointTablet){
      padding: 0rem;
      flex-direction: column;
      height: 100%
    }
}

.textBlock {
  width: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: $midnightBlue;

  // media query for phone
  @media (max-width: $breakpointTablet){
    width: 100%;
    // height: 100vh
  }
  
  .horizontalLine {
    @include horizontalLine;    
  }

  .subTitle {
    font-size: 2rem;
    color: $bonemarrow;
      // media query for phone
      @media (max-width: $breakpointTablet){
        font-size: 1.5rem;
      }
  }
  
  .mainTitle {
    font-size: 3.5rem;
    color: $bonemarrow;
      // media query for phone
      @media (max-width: $breakpointTablet){
        font-size: 2.5rem;
      }
  }
  
  .iconBar {
    display: flex;
    flex-direction: row;

    .icon {
     height: 60px;
     width: 100%;
     margin-left: 1rem;
     color: $interactivePink;
     transition: 0.4s ease;
     &:hover {
      color: white;
      transition: 0.4s ease;
     }
    }
  }
}


.imageBlock {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  // media query for tablet
  @media (min-width: calc($breakpointTablet + 1px)) and (max-width: $breakpointDesktop){
    height: 80vh;
    width: 100%;
  }
  // media query for phone
  @media (max-width: $breakpointTablet){
    // display: none;
    height: 70vh;
    width: 100%;
    align-items: flex-end;
  }

  .textBox {
    opacity: 0;
    position: absolute;
    width: 80%;
    height: 60%;
    padding: 2rem;
    display: flex;
    align-items: center;
    background-color: $interactivePink;

    // media query for phone
    @media (max-width: $breakpointTablet){
      width: 95%;
      height: 40%;
      opacity: 0.9;
    }
    &:hover {
      transition: opacity 0.3s;  
      opacity: 0.9;
    }
    .introText {
      font-size: large;
      text-align: justify;
        // media query for phone
        @media (max-width: $breakpointTablet){
          font-size: medium;
        }
    }
  }
}

.animatedJobTitles::before {
  content: "Fullstack Webdeveloper";
  animation: animateJobTitles infinite 8s;
}

@keyframes animateJobTitles {
  
  33% {
      content: "UX/UI Designer";
  }

  66% {
      content: "Archaeologist";
  }
}