@use 'styles/index.scss' as *;

.container {
  @include main-section;
}

.textBlock {
  // height: 100%;
  width: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: rgb(46, 23, 100);
  
  .horizontalLine {
    @include horizontalLine
  }

  .subTitle {
    font-size: 2rem;
    color: $bonemarrow;
  }
  
  .mainTitle {
    font-size: 3.5rem;
    color: $bonemarrow;
  }
  
  .iconBar {
    display: flex;
    flex-direction: row;

    .icon {
     height: 60px;
     width: 100%;
     margin-left: 1rem;
     color: $interactivePink;
     transition: 0.4s ease;
     &:hover {
      color: white;
      transition: 0.4s ease;
     }
    }
  }
}


.imageBlock {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  
  .textBox {
    opacity: 0;
    position: absolute;
    width: 80%;
    height: 60%;
    padding: 2rem;
    display: flex;
    align-items: center;
    background-color: $interactivePink;
    &:hover {
      transition: opacity 0.3s;  
      opacity: 0.9;
    }
    .introText {
      font-size: large;
      text-align: justify;
      // vertical-align: bottom;
    }
  }
}




.animatedJobTitles::before {
  content: "Fullstack Webdeveloper";
  animation: animateJobTitles infinite 8s;
}

@keyframes animateJobTitles {
  
  33% {
      content: "UX/UI Designer";
  }

  66% {
      content: "Archaeologist";
  }
}