@use 'styles/index.scss' as *;

.container {
  @include main-section;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.titleBlock {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .verticalTitle {
    @include sectionTitle;
    transform: rotate(270deg);
  }
}


.formBlock {
  background-color: $midnightBlue;
  width: 45%;
  padding: 2rem;
  margin-block: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
      // media query for phone
      @media (max-width: $breakpointTablet){
        width: 100%;
        margin-right: 4rem;
      }

  .subTitle {
    font-weight: 200;
    margin-bottom: 1rem;
  }
  
}

.mapBlock {
  width: 45%;
  margin-block: 2rem;
  margin-right: 2rem;
    // media query for phone
    @media (max-width: $breakpointTablet){
      display: none;
    }
}

.horizontalLine {
  @include horizontalLine;
}