@use 'styles/index.scss' as *;

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */

    // media query for tablet
    @media (min-width: calc($breakpointTablet + 1px)) and (max-width: $breakpointDesktop){
      padding: 2rem;
    }
    // media query for phone
    @media (max-width: $breakpointTablet){
      padding: 1rem;
    }
}

.modalClosed { display: none; }

.content {
  background-color: $midnightBlue;
  
  padding: 3rem;
  max-height: 100%;
  width: 80%;

    // media query for tablet
    @media (min-width: calc($breakpointTablet + 1px)) and (max-width: $breakpointDesktop){
      padding: 2rem;
      max-height: 90%;
      width: 90%;
    }
    // media query for phone
    @media (max-width: $breakpointTablet){
      padding: 1rem;
      max-height: 100%;
      width: 100%;
    }
}

.titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // height: 10%;
  .contentTitle {
    margin-bottom: 1em;
    user-select: text;
    text-align: left;
    // display: inline;
  }
}

.contentText {
  // height: 79%;
  max-height: 50vh;
  padding-right: 0.5rem;
  // margin-bottom: 1rem;
  // overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: text;
  // list-style-position: inside;
  // gap: 10em;
  a {
    color: $interactivePink;
    text-decoration: none;
  }
  p {
    margin-block: 1em;
    &:first-of-type {
      margin-top: 0rem;
    }
  }
  ul {
    margin-left: 0;
    padding-left: 3em;
    list-style-position: outside;
    li {
      p {
        display: inline;
      }
    }
  }
}

.buttonBar {
  // height: 20%;
  margin-top: 1em;
  column-gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
      // media query for tablet
      @media (min-width: calc($breakpointTablet + 1px)) and (max-width: $breakpointDesktop){
        justify-content: space-around;
      }
      // media query for phone
      @media (max-width: $breakpointTablet){
        justify-content: space-between;
      }
  
}
