@use 'styles/index.scss' as *;

.container {
  @include main-section;
  // rgb(46, 23, 100)
  // background-color: black;
  padding: 0;
}

.header {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $midnightBlue;
  // text-orientation: mixed;
}

.verticalTitle {
  user-select: none;
  text-transform: uppercase;
  transform: rotate(270deg);
  font-size: 3rem;
  letter-spacing: 0.3em;
  color: $bonemarrow;
}

.galleryWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  // margin-left: 1.5rem;
}

.arrowKey {
  // height: 2rem;
  width: 3rem;
  margin: 1rem;
  cursor: pointer;
  &:hover {
    scale: 1.3;
  }
}

.inactiveArrow {
  // color: red;
  opacity: 0;
  cursor: initial;
  // display: none;
}

.gallery {
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 25px 0px 25px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}