$interactivePink: rgb(226, 92, 197);
$midnightBlue: rgb(46, 23, 100);
$bonemarrow: rgb(240,234,214);

$breakpointTablet: 700px;
$breakpointDesktop: 1000px;

@mixin main-section {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  height: 100vh;
  width: 100vw;
  max-width:100%;
  scroll-snap-align: start;

}

@mixin horizontalLine {
  display:inline-block;
  margin-right: 1rem;
  width: 6vw;
  height: 2px;
  border-width:0;
  background-color: $interactivePink;
  position: relative;
  top: -7px;
}

@mixin sectionTitle {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.3em;
  color: $bonemarrow;

      // media query for tablet
      @media (min-width: calc($breakpointTablet + 1px)) and (max-width: $breakpointDesktop){
        font-size: 2rem;
      }
      // media query for phone
      @media (max-width: $breakpointTablet){
        font-size: 1.5rem;
      }
}


// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
