#timeline-main-wrapper div:first-child {
  left:auto !important
}

#timeline-main-wrapper > div {
  /* background-color: red; */
  /* overflow: visible; */
}

.timePoint {
  /* background-color: red; */
  overflow: visible !important;
}

.timeCard {
  background-color: rgb(226, 92, 197);
  margin: 1rem !important;
  border-radius: 0% !important;
  width: auto !important;
  height: 240px;
}

.timeCard > div > div > p, h2, li {
  /* color: rgb(27, 27, 27); */
}

.timeCard > div > div > p {
  margin-bottom: 1rem;
}

.timeCard > div > div > ul  {
  margin-left: 0;
  margin-bottom: 1rem;
  padding-left: 3em;
  list-style-position: outside;
}


#react-chrono-timeline > div:hover {
  transform: scale(1.07);
}

/* selector for background of button bar */
#timeline-main-wrapper + div > div > ul {
  background-color: transparent;
}

