@use 'styles/index.scss' as *;

.container {
  position: relative;
  bottom: 1rem;
  left: 0.5rem;
}

$size: 20px;
$color:  #fff;
$thickness : 2px;

@mixin cross {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: ($size - $thickness) / 2;
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }

}


.btnClose {
  margin: 0;
  border: 0;
  padding: 0;
  background: $interactivePink;
  border-radius: 50%;
  width: calc($size*2);
  height: calc($size*2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
  
  .iconCross {
    @include cross;  
  }
  
  &:hover,
  &:focus {
    transform: rotateZ(90deg);
  }

}

// For screen readers.
.visuallyHidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
